body {
    height: 100vh;
    background-image: url(../img/kof981.jpg);
    background-size: 100% 100%;
    background-position: 100% 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 20px;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    border-radius: 10px;
}

header>div {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

.player {
    margin-left: 5px;
}

.timer01 {
    display: flex;
    gap: 5px;
    padding-left: 50%;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.grid {
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    border: 3px solid blue;
    background-color: rgb(8, 88, 153);
    border-radius: 10px;
    align-items: center;
    gap: 4px;
    padding: 4px;
}

.card {
    aspect-ratio: 3/4;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    position: relative;
    transition: all 600ms ease;
    transform-style: preserve-3d;
    background-color: rgb(16, 247, 16);
}

.lado {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 5px solid red;
    border-radius: 5px;
    background-size: 100% 100%;
    background-position: center;
    transition: all 2000 ease;
}

.frente {
    transform: rotateY(180deg);
}

.verso {
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disable-card {
    filter: saturate(0);
    opacity: 0.5;
}